
/* //////FULL PAGE////// */
body{
  text-align: center;
  margin: 0 auto;
  width: 992px;
  font-family: 'SFProText-Regular', sans-serif;
}

/* //////HEADER/HERO/////// */

header {
  position: sticky;
  top: -36.15em;
  height: 100%;
  z-index: 1;
}

#hero-info {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

#hero-logo {
  width: 214px;
  margin: 40px auto 35px auto;
}

#hero-contact-info {
  height: 24px;
  font-family: SFProText;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #a6020e;
}

/* //////NAV BAR////// */

nav {
  position: sticky;
  top: 14.1em;
  z-index: 1;
}

#nav-buttons {
  display: flex;
}

.nav-button {
  width: 50%;
  color: white;
  border: none;
}

#nav-dropdown {
  width: 100%;
  border: none;
  border-right: 1px solid white;
}

#nav-button-about {
  text-decoration: none;
  line-height: 50px;
}

#nav-button-about:hover {
  color: white;
}

#nav-button-about, #nav-dropdown {
  border-radius: 0;
  height: 50px;
  font-size: 24px;
  letter-spacing: 1.34px;
  background-color: red;
  outline: none;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #f3616d, #a6020e);
}


/* //////MENU////// */

.link-route-div {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: -325px;
}

hr {
  border: 4px solid #A6020E;
  /* border-radius: 5px; */
}

.section-image img {
  width: 100%;
  margin-bottom: 40px;
}

.section-title {
  color: #A6020E;
  text-align: left;
  margin:30px;
  position: sticky;
  top: 17.2em;
  background: white;
  margin: 0;
  padding: 0 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.56px;
  position: sticky;
  z-index: 1;
}

.section-content p, .section-content h2 {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.section-content p {
  font-size: 26px;
  letter-spacing: 1px;
  text-overflow: wrap;
}

.section-content p span, .section-content h2 span {
  width: 26.7%;
  font-size: 28px;
  display: block;
  text-align: left;
}

.section-content h2 {
  font-weight: 700;
  margin-bottom: 25px;
}

/* //////ABOUT US////// */


/* //////FOOTER////// */
footer {
background-color: #A6020E;
color: #F4F1F4;
}

#foot {
  display: flex;
  justify-content: space-between;
}

.footer-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 26%;
  margin-left: 37%;
}

.footer-title{
  padding-top: 2%;
  margin-bottom: 2%;
}

.footer-bottom-wrapper {
  margin-top: 5%;
  display: block;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.footer-icon {
  background-color: #F4F1F4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-icon img {
  /* object-fit: cover; */
  margin-top:5px;
  width: 30px;
  height: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-address {
  text-align: left;
}

.footer-copyright {
  text-align: right;
}


