
/* //////FULL PAGE////// */
body{
  text-align: center;
  margin: 0 auto;
  width: 992px;
  font-family: 'SFProText-Regular', sans-serif;
}

/* //////HEADER/HERO/////// */

header {
  position: sticky;
  top: -50.5em;
  height: 100%;
}

#hero-logo {
  width: 214px;
  margin: 40px auto 35px auto;
}

#hero-contact-info {
  height: 24px;
  font-family: SFProText;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #a6020e;
}

#nav-buttons {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}

.nav-button {
  width: 50%;
  color: white;
  border: none;
}

#nav-dropdown {
  width: 100%;
  border: none;
  border-right: 1px solid white;
}

#nav-button-about {
  text-decoration: none;
  line-height: 50px;
}

#nav-button-about:hover {
  color: white;
}

#nav-button-about, #nav-dropdown {
  border-radius: 0;
  height: 50px;
  font-size: 24px;
  letter-spacing: 1.34px;
  background-color: red;
  outline: none;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #f3616d, #a6020e);
}

/* //////NAV BAR////// */


/* //////MENU////// */

hr {
  border: 9px solid #A6020E;
  /* border-radius: 5px; */
}

.section-image img {
  width: 100%;
  margin-bottom: 40px;
}

.section-title {
  color: #A6020E;
  text-align: left;
  margin:30px;
}

.section-title h2 {
  font-size: 3em;
}

.section-content p, .section-content h2 {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.section-content p {
  font-size: 2em;
  text-overflow: wrap;
}

.section-content p span, .section-content h2 span {
  width: 26.7%;
  display: block;
  text-align: left;
}

.section-content h2 {
  font-weight: 700;
  margin-bottom: 25px;
}

/* //////ABOUT US////// */


/* //////FOOTER////// */
footer {
background-color: red;
}

#foot {
  display: flex;
  justify-content: space-between;
}



